body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 16px;
}

header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

header nav {
  padding: 20px;
  color: white;
  font-size: .875em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#logo {
  font-size: 2.5em;
}

#links {
  font-size: 18px;
}

#links a {
  margin: 15px;
}

a {
  cursor: pointer;
}

a.button {
  background-color: #a8a6a1;
  padding: 10px 15px;
  border: 2px solid #a8a6a1;
  border-radius: 10px;
}

a.button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
}

header h1 em {
  font-size: 1.25em;
  font-style: normal;
  letter-spacing: 1px;
}

header h1 strong {
  font-style: normal;
  font-size: 4.25em;
  letter-spacing: 1px;
}

header h1 a {
  font-size: 0.9em;
}

section {
  margin: 75px 100px;
  text-align: center;
}

#main p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  width: 70%;
}

#main h1 {
  font-size: 1.75em;
}

p {
  line-height: 2.25em;
}

footer {
  background-color: rgb(45, 45, 45);
  color: rgba(255, 255, 255, 0.8);
  padding: 35px;
  text-align: center;
}

footer p {
  color: rgba(255, 255, 255, 0.4);
}

address {
  font-style: normal;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details div {
  width: calc(50% - 10px);
  margin: 50px 0;
}

@media (max-width: 500px) {
  .details {
    flex-direction: column;
  }
}

.details img {
  width: 100%;
}

.details h1 {
  font-size: 38px;
}

.details div a.button {
  color: white;
}

details div a.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

#menu {
  display: none;
}

#menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.article .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article .details div {
  width: calc(50% - 10px);
  margin: 50px 0;
}

@media (max-width: 500px) {
  #links {
    display: none;
  }
  #menu {
    display: block;
  }
  .article .details {
    flex-direction: column;
  }
  .article .details div {
    width: 100%;
  }
}

@media (max-width: 800px) {
  nav #logo{
    margin: 0 20px 0 1px;
  }
  #logo{
    font-size: 20px;
  }
  div#links a {
    font-size: 13px;
    padding: 2px 10px;
  }
  section {
    margin: 20px 10px;
  }
  .article .details div {
    width: calc(50% - 10px);
  }
  a.button {
    padding: 2px 5px;
  }
}

@media (max-width: 1200px) {
  header {
    height: 100px;
    line-height: 1.2;
  }
  #logo {
    font-size: 1.5em;
  }
  #menu {
    display: block;
  }
  #menu div {
    width: 20px;
    height: 2px;
  }
  #links {
    display: none;
  }
  .article .details {
    flex-direction: column;
  }
  .article .details div {
    width: 100%;
  }

  header nav {
    padding: 20px;
    color: white;
    font-size: .875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
   
}